.hero-section{
    background-color: #2c4a34;
    height: 200px;
}

.hero-section-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin-left: 10%;
    margin-right: 10%;
}

.hero-section-content > article {
    flex: 1;
    height:100%;
    margin: 0;
    align-items: start;
}

.hero-section-content > article > h1 {
    color: #f5db16;
    font-size: 2em;
    margin: 0;
}
.hero-section-content > article > h2 {
    color: white;
    font-size: 1em;
    margin-top: 20px;
}
.hero-section-content > article > h3 {
    color: white;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero-section-content > article > button {
   background-color: #f5db16;
    color: black;
}
.hero-section-content > img {
    height: 160px;
    width: 300px;
    margin: 30px;
    border-radius: 10px;
}