.footer-section {
    background-color: darkgrey;
    padding: 50px 0 50px 0;
}

.footer-section > h1 {
    font-weight: bold;
    font-size: 2em;
}

.footer-section > section {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.footer-section > section > article {
    flex: 1;
    text-align: start;
    padding: 10px 20px 10px 20px;
    width: 150px;
}

.footer-section > section > article > h1 {
    font-weight: bold;
    font-size: 2em;
    color: #5d5c5c;
}

.footer-section > section > article > h2 {
    font-weight: bold;
    font-size: 1em;
    color: #5d5c5c;
}
.footer-icon {
    width: 80%;
    height: 100%;
}

